.card-success{
    width: 300px;
    background-color: #fff;
    text-align: left;
    border-radius: 30px;
    padding: 1em;
    margin-top: 0.5em;
}

.card-fail{
    width: 300px;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
        text-align: left;
    border-radius: 30px;
    padding: 1em;
    margin-top: 0.5em;
}
.card-fail h3{
    color: #fff;
}