.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.list {
    width: 30%;
    height: 100%;
    background-color: red;
}

.form {
    width: 30%;
    height: 100%;
    background-color: green;
}